In [1]:
import random
from datetime import datetime, timedelta
import pandas as pd

In [2]:
columns = [
    "timestamp",
    "ip_address",
    "endpoint",
    "status_code",
    "response_time_ms"
]

In [3]:
endpoints = [
    "/login",
    "/logout",
    "/dashboard",
    "/api/data",
    "/api/report"
]
status_codes = [200, 200, 200, 200, 404, 500]

In [4]:
data = []

start_time = datetime.now()

for i in range(1000):
    log = {
        "timestamp": start_time + timedelta(seconds=i),
        "ip_address": f"192.168.1.{random.randint(1, 254)}",
        "endpoint": random.choice(endpoints),
        "status_code": random.choice(status_codes),
        "response_time_ms": random.randint(50, 1500)
    }
    data.append(log)

df = pd.DataFrame(data, columns=columns)
df.head()

,timestamp,ip_address,endpoint,status_code,response_time_ms
0,2026-01-02 14:32:58.046616,192.168.1.251,/logout,404,659
1,2026-01-02 14:32:59.046616,192.168.1.79,/login,200,802
2,2026-01-02 14:33:00.046616,192.168.1.18,/api/data,200,170
3,2026-01-02 14:33:01.046616,192.168.1.184,/api/data,200,797
4,2026-01-02 14:33:02.046616,192.168.1.224,/login,500,627

In [5]:
df.to_csv("server_logs.csv", index=False)

In [6]:
df["status_code"].value_counts()

status_code
200    667
500    181
404    152
Name: count, dtype: int64

In [7]:
total_requests = len(df)
error_requests = df[df["status_code"] != 200].shape[0]

error_rate = (error_requests / total_requests) * 100
error_rate

33.300000000000004

In [8]:
df[df["status_code"] != 200]["endpoint"].value_counts()

endpoint
/logout        77
/api/report    68
/dashboard     68
/login         63
/api/data      57
Name: count, dtype: int64